/* Hide default Mapbox controls */
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

/* Fix popup styles */
.mapboxgl-popup-content {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.mapboxgl-popup-tip {
  display: none;
}
